body{
    /* display: grid; */
    background-image:  url(img/Fondo.jpg);
    background-attachment: fixed;
    background-repeat: round;
    margin: 0;
}
footer{
    background: #001731;
    text-align: center;
    width: 100%;
    height: 81px;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;

}
header{
    background: #001731;
    display: flex;
    justify-content: space-between;
    height: 145px;
}
#cont-logo-foto{
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
}
#fotoperfil{
    height: 90%;
    border-radius: 100%;
    align-self: center;
    margin-left: 10px;
}
#logo-kw{
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
    font-style: italic;
    font-size: 145px;
    font-weight: 900;
    margin: 0;
    margin-left: 15px;
}

#cont-incons{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.icontacto{
    display: flex;
    height: 60px;
    border-radius: 100%;
}
.icontacto:hover{
    box-shadow: 0px 0px 15px 15px yellow;
    border-radius: 100%;
}
#perfil{
    text-align: justify;
    align-self: center;
    color: aliceblue;
    border-radius: 34px;
    background: black;
    opacity: 0.7;
    width: 90%;
    border: double;
    padding: 30px;
    font-size: 3vw;
}
#cont-perfil{
    display: flex;
    width: 100%;
}
#cont-ft-nom{
    display: flex;
}

#cont-proyectos{
    display: grid;
    margin-top: 100px;
    margin-bottom: 200px;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 7vw;
    width: 100%;
    height: auto;
}
.flechas {
    height: 50px;
    width: 50px;
    color: aqua;
    font-size: xx-large;
    font-weight: bolder;
    background: black;
    opacity: 0.7;
    border-radius: 89%;
    align-self: center;
}

#nodo{
    text-align: center;
    width: 10vw;
    height: 10vw;
    /* background: lightgreen; */
    opacity: 0.9;
    border-radius: 10%;

}
.img{
    height: 100%;
    width: 100%;
    /* object-fit: contain; */
    object-position: center center;
    /* border-top-style: solid; */
    border-radius: 40px;
    border: solid 9px black;
}
.img:hover{
    box-shadow: 0px 0px 15px 15px yellowgreen;
    border-radius: 100%;
}
#nombre-proyecto{
    text-align: center;
    font-family: Verdana;
    color: #001731;
    font-size: 2vw;
}
@media (max-width: 500px){
    body{
        display: grid;
        background-image:  url(img/FondoArena.jpg);
        background-attachment: fixed;
        background-repeat: round;
    }
    #nodo{
        text-align: center;
        width: 40em;
        height: 20em;
        /* background: lightgreen; */
        opacity: 0.9;
        border-radius: 100%;}
}